.search-wrapper{
    position: relative;
    display: flex;
    align-items: center;   
    flex-wrap: nowrap; 
    gap: 1vw;  
    border-radius: 1vw;
    background-color: var(--card-color);

}

.search-wrapper > input{
  width: 100%;
  padding-left: 2vw; 
  padding-right: 2vw;
  height: 2.5vw;
  border-radius: 10px;
  border: 0.2vw solid transparent;
  outline: none;
  font-size: 1.05vw;
  background-color: var(--card-color);
  color: #c8c8c8;
}

.search-icon {
  position: absolute;
  left: 0.6vw;
  top: 52%;
  transform: translateY(-50%);
  width: 1vw;
  height: 1vw;
  object-fit: contain;
  filter: invert(25%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(93%) contrast(90%);
}
